.titulo {
    text-align: center;
}

body{

    background-color: #e2e8f0;
    
}

.post{

    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    border-color: rgb(127, 246, 246);
    box-shadow: 0 0 10px black;
    text-align: center;
    width: 70%;

}

.post:hover {
    background-color: #fecdd3;
}

.post_statick{

    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    border-color: rgb(127, 246, 246);
    box-shadow: 0 0 10px black;
    text-align: center;

}

video{

    z-index: -999;
    position: absolute;
    top: 0

    
}

.boton a, .anterior a, .siguiente a{

    display:inline-block;
    background-color: black;
    color: #e2e8f0;
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    
}

.botones{

    display: flex;
    justify-content: space-around;
    margin: 10px;

}

.anterior{

    align-content: flex-start;
    margin-right: 750px;

}

.siguiente{

    align-content: flex-start;
    margin-left: 750px;
    
}